.layout-container {
  height: 100vh;
}
.layout-header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
.layout-main {
  padding-top: 4rem;
  height: 100%;
  background: #F4F4F7;

  .menu-wrapper {
    float: left;
    width: 220px;
    height: 100%;
    background: #fff;
    box-shadow: 0px 3px 10px 0px rgba(145, 145, 145, 0.35);
  }
  .layout-content {
    display: flex;
    height: 100%;
    margin-left: 220px;
    flex-direction: column;
    
    .quick-nav {
      display: flex;
      flex-direction: column;
      box-shadow: 0rem 0rem 1rem 0rem rgba(145, 145, 145, 0.21);
    }
    .router-wrapper {
      display: flex;
      flex: 1;
      justify-content: center;
      padding-top: 1.8rem;
      overflow-y: auto;
    }
  }
}


.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0 2rem;
  background: linear-gradient(90deg, #2F5FFF, #449FFE);

  .logo img {
    width: auto;
    height: 3rem;
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding: 0 1.7rem;
  }
  .search {
    display: flex;
    width: 16rem;
    height: 2.3rem;
    .ant-input-affix-wrapper {
      border-radius: 1.29rem;
      background: none;
      border-color: #fff;;
      color: #fff;
      .ant-input {
        background: none;
        &::placeholder {
          color: #fff;
        }
      }
      &.cdk-focused {
        background: #fff;
        border-color: #DEDEDE;;
        color: #AFAFAF;
        .ant-input::placeholder {
          color: #AFAFAF;
        }
      }
    }
  }
}

.userinfo {
  height: 180px;
  text-align: center;
  padding: 2rem 2rem 1rem;
  p {
    margin: 0;
  }
  img {
    width: auto;
    height: 5.4rem;
  }
  .username {
    margin-top: 1rem;
    color: #333;
  }
  .anticon-down {
    margin-left: 0.5rem;
    color: #333;
  }
}

.nav-menu {
  padding: 0 .4rem;
  background-color: #fff;
  // box-shadow: 0rem 0rem 1rem 0rem rgba(205, 205, 205, 0.38);
  // nav {
  //   display: flex;
  //   height: 100%;
  // }
  a {
    display: block;
    align-items: center;
    height: 3rem;
    line-height: 3rem;
    margin-bottom: .8rem;
    border-radius: 0.43rem;
    color: #3C88FE;
    position: relative;
    .icon {
      display: inline-block;
      margin-left: 2.5rem;
      margin-right: 2.3rem;
      width: 2rem;
      text-align: center;
      img {
        width: auto;
        height: 1.2rem;
      }
    }
    i {
      display: block;
      width: 100%;
      height: 0.29rem;
      background-color: #319BFD;
      opacity: 0;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    &.active {
      color: #fff;
      background: linear-gradient(90deg, #2F5FFF, #449FFE);
    }
  }
}

.quick-nav {
  .top {
    display: flex;
    padding: .3rem 1.63rem 0;
    height: 2rem;
    background: #EBEBEB;
    span {
      display: inline-block;
      width: 7.21rem;
      height: 2rem;
      line-height: 2rem;
      font-size: 0.88rem;
      text-align: center;
      background: #FFF;
      border-radius: 0.43rem 0.43rem 0 0;
    }
  }
}

.table-container {
  min-height: 800px;
  padding: 1rem 1rem 3rem;
  border-radius: 0.57rem;
  background-color: #fff;

  .table-header {
    margin-bottom: 1rem;
    .title {
      margin-bottom: 1.5rem;
      h1 {
        padding: 0 0.7rem;
        height: 1.14rem;
        line-height: 1.14rem;
        font-size: 1.14rem;
        border-left: 0.29rem solid #319BFD;
      }
    }
    .actions {
      justify-content: flex-end;

      .ant-form-item {
        margin-left: 0.64rem;
        margin-right: 0;
        margin-bottom: 1rem;
      }
      .ant-form-item-label {
        min-width: 4.5rem;
      }
      .ant-input {
        width: 13.29rem;
        border-radius: 1rem;
      }
      .ant-btn {
        border-radius: 1rem;
      }
    }
    .btn-group {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }

  .table-action {
    i {
      margin-right: 0.4rem;
    }
  }
}
