<div class="table-container">
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>证件号码</th>
        <th>出生日期</th>
        <th>所在单位</th>
        <th>登录账号</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.key }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.gender }}</td>
        <td>{{ data.idcard }}</td>
        <td>{{ data.birthdate }}</td>
        <td>{{ data.company }}</td>
        <td>{{ data.account }}</td>
        <td>
          <a>编辑</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
