.workbench {
  padding-bottom: 3rem;

  .section {
    margin-bottom: 1rem;
    padding: 1rem 1.3rem;
    background: #FFFFFF;
    border: 0px solid #E6E6E6;
    border-radius: 0.86rem;

    .header {
      position: relative;
      h2 {
        padding: 0 1rem;
        font-size: 1.14rem;
        font-weight: 500;
        color: #333333;
      }
      i {
        display: block;
        width: 5px;
        height: 16px;
        background: #3D9AFE;
        position: absolute;
        left: 0; 
        top: 50%;
        margin-top: -8px;
      }
      .more {
        color: #999999;
        font-size: 1rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .list {
      overflow: hidden;
    }

    .item-wrapper {
      float: left;
      width: 20%;
      height: 8rem;
      margin-bottom: 1rem;
    }
    .item {
      display: flex;
      height: 100%;
      margin-bottom: .7rem;
      padding: 1.66rem .5rem;
      .icon {
        display: flex;
        margin-right: 1rem;
        padding-top: .2rem;
        img {
          width: 3.14rem;
          height: 3.14rem;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
      }
      .name {
        font-size: 1rem;
        font-weight: 500;
        color: #333333;
        margin-bottom: 0.2rem;
      }
      .subTitle {
        font-size: 0.86rem;
        color: #999999;
        line-height: 1.57rem;
        margin-bottom: 0.5rem;
      }
      .host {
        margin: 0;
        span {
          padding: 0.14rem 0.36rem;
          background: #FFFFFF;
          border: 1px solid #44CD99;
          font-size: 0.86rem;
          color: #44CD99;
        }
      }
    }
  }

  .basic-info {
    position: relative;
    .bg {
      width: 80%;
      height: auto;
    }
    h2 {
      position: absolute;
      left: 118px;
      top: 45%;
      font-size: 1.5rem;
      font-weight: 400;
      color: #FFFFFF;
    }
    .info {
      width: 20%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      ul {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        li {
          padding: 1.5rem 0;
          .icon {
            margin-right: 1rem;
            position: relative;
            img {
              width: auto;
              height: 2.5rem;
            }
            i {
              display: block;
              width: .8rem;
              height: .8rem;
              background: #EE3838;
              border: 1px solid #FFFFFF;
              border-radius: 50%;
              position: absolute;
              top: -1rem;
              right: -0.4rem;
            }
          }
          .name {
            margin-right: .5rem;
            font-size: 1rem;
            font-weight: 500;
            color: #333333;
          }
          .arrow {
            width: 1rem;
            height: auto;
          }
          
        }
      }
    }
  }
}