<div nz-row class="user-manage">
  <div nz-col nzMd="0" nzLg="1" nzXl="2" nzXXl="3"></div>
  <div nz-col nzMd="24" nzLg="22" nzXl="20" nzXXl="18">
    <div class="workbench">
      <div class="section basic-info">
        <img src="assets/images/workbench/my_bg.png" alt="bg" class="bg">
        <h2>欢迎回来，迎接新的挑战！</h2>
        <div class="info">
          <ul>
            <li>
              <span class="icon">
                <img src="assets/images/workbench/notice_icon.png" alt="notice">
                <i></i>
              </span>
              <span class="name">我的消息</span>
              <img src="assets/images/workbench/arrow.png" alt="arrow" class="arrow">
            </li>
            <li>
              <span class="icon">
                <img src="assets/images/workbench/todo_icon.png" alt="todo">
                <i></i>
              </span>
              <span class="name">我的待办</span>
              <img src="assets/images/workbench/arrow.png" alt="arrow" class="arrow">
            </li>
          </ul>
        </div>
      </div>
      <div class="section my">
        <div class="header">
          <h2>我的</h2>
          <i></i>
        </div>
        <div class="list">
          <div class="item-wrapper" *ngFor="let item of myList">
            <a class="item">
              <span class="icon">
                <img *ngIf="item.icon" [src]="item.icon" alt="icon" />
                <img *ngIf="!item.icon" src="assets/images/app_icon_default.png" alt="icon" />
              </span>
              <div class="info">
                <p class="name">{{ item.name }}</p>
                <p class="subTitle">{{ item.subTitle }}</p>
                <p class="host"><span>{{ item.host }}</span></p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="section others">
        <div class="header">
          <h2>其他应用</h2>
          <i></i>
        </div>
        <div class="list">
          <div class="item-wrapper" *ngFor="let item of othersList">
            <a class="item">
              <span class="icon">
                <img *ngIf="item.icon" [src]="item.icon" alt="icon" />
                <img *ngIf="!item.icon" src="assets/images/app_icon_default.png" alt="icon" />
              </span>
              <div class="info">
                <p class="name">{{ item.name }}</p>
                <p class="subTitle">{{ item.subTitle }}</p>
                <p class="host"><span>{{ item.host }}</span></p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="section direct">
        <div class="header">
          <h2>一键直达</h2>
          <i></i>
        </div>
        <div class="list">
          <div class="item-wrapper" *ngFor="let item of directList">
            <a class="item">
              <span class="icon">
                <img *ngIf="item.icon" [src]="item.icon" alt="icon" />
                <img *ngIf="!item.icon" src="assets/images/app_icon_default.png" alt="icon" />
              </span>
              <div class="info">
                <p class="name">{{ item.name }}</p>
                <p class="subTitle">{{ item.subTitle }}</p>
                <p class="host"><span>{{ item.host }}</span></p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div nz-col nzMd="0" nzLg="1" nzXl="2" nzXXl="3"></div>
</div>
