<div nz-row>
  <div nz-col nzMd="0" nzLg="1" nzXl="2" nzXXl="3"></div>
  <div nz-col nzMd="24" nzLg="22" nzXl="20" nzXXl="18">
    <div class="workbench">
      <div nz-row [nzGutter]="15">
        <div nz-col nzSpan="16">
          <div class="section basic-info">
            <img [src]="basicInfo.headUrl" alt="account" />
            <div class="info-text">
              <p class="date">{{ basicInfo.dateText }}</p>
              <p class="welcome">
                <span>{{ basicInfo.welcomeText1 }}</span>
                <br />
                <span>{{ basicInfo.welcomeText2 }}</span>
              </p>
            </div>
          </div>

          <div class="section app-list">
            <div class="header">
              <h2>应用列表</h2>
              <a routerLink="/pages" class="more">全部应用>></a>
            </div>
            <div class="list">
              <div nz-row [nzGutter]="20">
                <div nz-col nzSpan="12" *ngFor="let item of appList">
                  <a class="app-item">
                    <div
                      class="icon"
                      [ngStyle]="{ background: item.iconColor }"
                    >
                      <img [src]="item.icon" alt="icon" />
                    </div>
                    <div class="info">
                      <p>
                        <span class="name">{{ item.name }}</span>
                        <span class="host">{{ item.host }}</span>
                      </p>
                      <p class="desc">
                        <span>{{ item.desc }}</span>
                      </p>
                      <p class="group">
                        <span>{{ item.group }}</span>
                      </p>
                      <p class="date">
                        <span>{{ item.date }}</span>
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="section todo-list">
            <div class="header">
              <h2>待办事项</h2>
              <a routerLink="/pages" class="more">全部待办>></a>
            </div>
            <div class="list">
              <div
                class="todo-item"
                *ngFor="let item of todoList"
              >
                <div class="icon">
                  <img src="assets/images/todo_icon.png" alt="icon" />
                </div>
                <div class="text">
                  <p class="title">{{ item.title }}</p>
                  <p class="desc">{{ item.desc }}</p>
                </div>
                <a class="action">去处理</a>
              </div>
            </div>
          </div>

          <div class="section notice-list">
            <div class="header">
              <h2>通知消息</h2>
              <a routerLink="/pages" class="more">全部消息>></a>
            </div>
            <div class="list">
              <div
                class="notice-item"
                *ngFor="let item of noticeList"
              >
                <div class="icon">
                  <img src="assets/images/notice_icon.png" alt="icon" />
                </div>
                <div class="text">
                  <p class="title">{{ item.title }}</p>
                </div>
                <span class="time">{{ item.time }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div nz-col nzMd="0" nzLg="1" nzXl="2" nzXXl="3"></div>
</div>
